<web-app id="BeowulfSMFSystem">
	<display-name>Beowulf Management System</display-name>

	<context-param>
		<param-name>bw-common-conf-filename</param-name>
		<param-value>webapp/WEB-INF/bw-common.conf</param-value>
	</context-param>
	<context-param>
		<param-name>queue-conf-filename</param-name>
		<param-value>queues.conf</param-value>
	</context-param>
	<context-param>
		<param-name>test-module-list-filename</param-name>
		<param-value>test_modules.xml</param-value>
	</context-param>
	<context-param>
		<param-name>wasc-threat-types-filename</param-name>
		<param-value>wasc_threat_types.xml</param-value>
	</context-param>

	<listener>
		<listener-class>com.nvarghese.beowulf.smf.SmfQueueManager</listener-class>
	</listener>	
	<listener>
		<listener-class>com.nvarghese.beowulf.smf.SmfDataLoader</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>BwSmfRestApi</servlet-name>
		<servlet-class>
			org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
		</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>com.nvarghese.beowulf.smf.SmfRestApplication
			</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>BwSmfRestApi</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>