<web-app id="BeowulfExecutorSystem">
	<display-name>Beowulf Management System</display-name>
	
	<context-param>
		<param-name>bw-common-conf-filename</param-name>
		<param-value>webapp/WEB-INF/bw-common.conf</param-value>
	</context-param>
	
	<listener>
		<listener-class>com.nvarghese.beowulf.common.BeowulfCommonConfigManager</listener-class>
	</listener>
		
	
</web-app>